<footer class="blog-footer">
  <div class="container">
    <p class="sosumi">© {{ site.copyright.year }} {{ site.copyright.name }}. All rights reserved.</p>
    <ul class="links">
      <li class="item"><a target="_blank" href="https://korsnack.kr">Snack</a></li>
      <li class="item"><a target="_blank" href="https://snack.studio">SnackStudio</a></li>
      <li class="item"><a target="_blank" href="https://blog.korsnack.kr">Snack Blog</a></li>
      <li class="item"><a target="_blank" href="https://trip.korsnack.kr">Snack Trips</a></li>
    </ul>
  </div>
</footer>
