/*! Solarized Color Scheme | ethanschoonover.com/solarized */
$sc-base03:  #002b36;
$sc-base02:  #073642;
$sc-base01:  #586e75;
$sc-base00:  #657b83;
$sc-base0:   #839496;
$sc-base1:   #93a1a1;
$sc-base2:   #eee8d5;
$sc-base3:   #fdf6e3;
$sc-yellow:  #b58900;
$sc-orange:  #cb4b16;
$sc-red:     #dc322f;
$sc-magenta: #d33682;
$sc-violet:  #6c71c4;
$sc-blue:    #268bd2;
$sc-cyan:    #2aa198;
$sc-green:   #859900;
