//----------------------------------------------------------------------------------------
// Fonts

$base-font: "D2Coding", "D2Coding Light KR", monospace;

$base-font-size: 16px;
$mobile-font-size: 12px;

//----------------------------------------------------------------------------------------
// Colors

$background-base-color: $sc-base3;
$background-highlight-color: $sc-base2;

$text-base-color: $sc-base00;
$text-highlight-color: $sc-base01;

$text-link-color: $sc-blue;
